<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-banner></app-banner>
    </div>
  </div>
  <!-- s-populares -->
  <section id="maisPopulares" name="maisPopulares">
    <div class="row mt-4 ml-1">
      <div class="col-md-12">
        <h5> <i
            class="far fa-grin-stars icon-color animate__animated animate__heartBeat animate__infinite	infinite animate__slow	2s"></i>
          <span class="icon-span">OS MAIS POPULARES</span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let popular of populares.results">
              <app-carousel [image]="'https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/'+popular.backdrop_path"
                [title]="popular.title" [subtitle]="popular.release_date" [vote]="popular.vote_average"></app-carousel>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
    </div>
  </section>
  <!-- s-trailers -->
  <section>
    <app-trailer></app-trailer>
  </section>
  <!-- s-gratuitos -->
  <section id="gratisAssistir" name="gratisAssistir">
    <div class="row mt-4 ml-1">
      <div class="col-md-12">
        <h5>
          <i class="far fa-grin-tongue icon-color animate__animated animate__heartBeat animate__infinite	infinite animate__slow	2s"></i>
          <span class="icon-span">GRÁTUITO PARA ASSISTIR</span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let movie of freeMovies.results">
              <app-carousel [image]="'https://www.themoviedb.org/t/p/w355_and_h200_multi_faces/'+movie.backdrop_path"
                [title]="movie.title" [subtitle]="movie.release_date" [vote]="movie.vote_average"></app-carousel>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
    </div>
  </section>
  <!-- s-community -->
  <section>
    <app-community></app-community>
  </section>
</div>

<app-modal [visible]="false">
  <div titulo>
    <div>  </div>
    <!-- Confirmação do Pedido -->
  </div>
  <div body>

    <div class="contBtModal">
      <!-- <button class="btModal cancelar" (click)="cancel()">Cancelar</button> -->

    </div>
  </div>
</app-modal>
