<div class="modal" *ngIf="visible">
  <div [class]="classiClass ? 'modal-body' : 'custom-modal-body'">

    <div titulo>
      <h1>
        {{titleModal}}
      </h1>
      <h2>
        {{subTitleModal}}
      </h2>
    </div>
    <div body>
      <iframe type="text/html" class="iframe-size" style="background-color: #000;" height="450" width="850"
      [src]="urlTrailerModal | sanitizer"
        frameborder="0" allowfullscreen=""></iframe>
      <div class="close" (click)="close()">
        <i class="far fa-window-close"></i>
      </div>
    </div>
  </div>
</div>
