<div class="content mb-1">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h4> Junte-se Hoje</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Get access to maintain your own custom personal lists,
            track what you've seen and search and filter for what to watch next—regardless if it's in theatres,
            on TV or available on popular streaming services like Netflix, Amazon Prime Video e Sun Nxt.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-sm btn-primary">Inscreva-se</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>Aproveite o TMDB sem propaganda</li>
            <li>Mantenha uma Watchlist pessoal</li>
            <li>Filtre por seus serviços de streaming e ache algo para assistir</li>
            <li>Marque os Filmes e Séries que você já viu</li>
            <li>Crie Listas personalizadas</li>
            <li>Contribua e melhore nosso banco de dados</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
